<div class="example-container">
  <mat-toolbar style="background-color: #125eaa" class="example-toolbar">
    <button style="color: white" mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 style="color: white" class="example-app-name">{{title}}</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav fixedTopGap="56">
      <mat-nav-list style="min-width: fit-content">
        <a (click)="snav.toggle()" routerLink="/home" mat-list-item style="cursor: pointer">
          <mat-icon>home</mat-icon>
          &nbsp; Home&nbsp;
        </a>
        <a (click)="snav.toggle()" routerLink="/lostAndFound" mat-list-item style="cursor: pointer">
          <mat-icon>work</mat-icon>
          &nbsp; Lost & Found &nbsp;
        </a>
        <!--<a (click)="snav.toggle()" routerLink="/resources" mat-list-item style="cursor: pointer">-->
          <!--<mat-icon>file_copy</mat-icon>-->
          <!--&nbsp; Resources-->
        <!--</a>-->

        <a (click)="logout(); snav.toggle()" routerLink="/login" mat-list-item style="cursor: pointer; position: absolute; bottom: 0; margin-bottom: 1vh">
          <mat-icon>exit_to_app</mat-icon>
          &nbsp; Logout
        </a>

      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>

      <router-outlet></router-outlet>

    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
