<!--<div class="search-bar" style="width: 80%; margin-left: 10%; margin-right: 10%; margin-top: 3vh">-->

  <!--<mat-tab-group>-->
    <!--<mat-tab>-->
      <!--<ng-template mat-tab-label>-->
        <!--<mat-icon class="example-tab-icon">folder</mat-icon>-->
        <!--Partial Exams-->
      <!--</ng-template>-->

      <!--<mat-card style="height: 80vh">-->
        <!--<mat-list *ngIf="partialDocuments" role="list">-->
          <!--<ng-container *ngFor="let doc of partialDocuments">-->
            <!--<div-->
              <!--style="width: 100%; display: flex ; justify-content: space-between; margin-top: 6px "-->
              <!--role="listitem">-->
              <!--<h6>{{doc.name}}</h6>-->
              <!--<h6>{{doc.description}}</h6>-->
              <!--<a href="{{doc.doc}}">Download Zip</a>-->
            <!--</div>-->
            <!--<mat-divider></mat-divider>-->
          <!--</ng-container>-->
        <!--</mat-list>-->


        <!--<h5 *ngIf="!partialDocuments">No Documents available :(</h5>-->

        <!--<button mat-fab-->
                <!--style="float: right;bottom: 0; margin-bottom: 10px; background-color: #125eaa; position: absolute; right: 10px"-->
        <!--(click)="addPartialDocuments()">-->
          <!--<mat-icon>add</mat-icon>-->
        <!--</button>-->

      <!--</mat-card>-->


    <!--</mat-tab>-->

    <!--<mat-tab>-->
      <!--<ng-template mat-tab-label>-->
        <!--<mat-icon class="example-tab-icon">folder</mat-icon>-->
        <!--Final Exams-->
      <!--</ng-template>-->

      <!--<mat-card style="height: 80vh">-->
        <!--<mat-list *ngIf="finalsDocuments" role="list">-->
          <!--<ng-container *ngFor="let doc of finalsDocuments">-->
            <!--<div-->
              <!--style="width: 100%; display: flex ; justify-content: space-between; margin-top: 6px "-->
              <!--role="listitem">-->
              <!--<h6>{{doc.name}}</h6>-->
              <!--<h6>{{doc.description}}</h6>-->
              <!--<a href="{{doc.doc}}">Download Zip</a>-->
            <!--</div>-->
            <!--<mat-divider></mat-divider>-->
          <!--</ng-container>-->
        <!--</mat-list>-->

        <!--<h5 *ngIf="!finalsDocuments">No Documents available :(</h5>-->

        <!--<button mat-fab-->
                <!--style="float: right;bottom: 0; margin-bottom: 10px;background-color: #125eaa;position: absolute; right: 10px"-->
        <!--(click)="addFinalsDocuments()">-->
          <!--<mat-icon>add</mat-icon>-->
        <!--</button>-->

      <!--</mat-card>-->


    <!--</mat-tab>-->

    <!--<mat-tab>-->
      <!--<ng-template mat-tab-label>-->
        <!--<mat-icon class="example-tab-icon">folder</mat-icon>-->
        <!--Quizzes-->
      <!--</ng-template>-->

      <!--<mat-card style="height: 80vh">-->
        <!--<mat-list *ngIf="quizzesDocuments" role="list">-->
          <!--<ng-container *ngFor="let doc of quizzesDocuments">-->
            <!--<div-->
              <!--style="width: 100%; display: flex ; justify-content: space-between; margin-top: 6px "-->
              <!--role="listitem">-->
              <!--<h6>{{doc.name}}</h6>-->
              <!--<h6>{{doc.description}}</h6>-->
              <!--<a href="{{doc.doc}}">Download Zip</a>-->
            <!--</div>-->
            <!--<mat-divider></mat-divider>-->
          <!--</ng-container>-->
        <!--</mat-list>-->

        <!--<h5 *ngIf="!quizzesDocuments">No Documents available :(</h5>-->

        <!--<button mat-fab-->
                <!--style="float: right;bottom: 0; margin-bottom: 10px;background-color: #125eaa; position: absolute; right: 10px"-->
        <!--(click)="addQuizzesDocuments()">-->
          <!--<mat-icon>add</mat-icon>-->
        <!--</button>-->

      <!--</mat-card>-->

    <!--</mat-tab>-->
  <!--</mat-tab-group>-->

<!--</div>-->
